        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        header {
            background-color: #000000;
            color: #fff;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        header h1 {
            margin: 0;
            font-size: 24px;
        }
        
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }
        
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 20px;
            flex-grow: 1;
        }
        
        .profile img {
            width: 500px; 
            height: 500px; 
            border-radius: 50%;
            float: left; 
            margin-right: 20px; 
        }
        
        .profile h2,
        .profile h3 {
            margin: 10px 0;
        }

        .profile h2 {
            font-size: 32px; /* Ubah ukuran h2 menjadi lebih besar */
        }

        .profile h3 {
            font-size: 32px; /* Ubah ukuran h3 menjadi lebih besar */
        }
        
        .sidebar {
            background-color: #f4f4f4;
            padding: 20px;
        }
        
        .sidebar ul {
            padding: 0;
            margin: 0;
        }
        
        .sidebar ul li {
            margin-bottom: 10px;
        }
        
        footer {
            background-color: #000000;
            padding: 20px;
            text-align: center;
            font-size: 14px;
        }
   